<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceANASoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceANASoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://telemetriaws1.ana.gov.br/ServiceANA.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceANASoap"
                contract="ServiceANA.ServiceANASoap" name="ServiceANASoap" />
            <endpoint address="http://telemetriaws1.ana.gov.br/ServiceANA.asmx"
                binding="customBinding" bindingConfiguration="ServiceANASoap12"
                contract="ServiceANA.ServiceANASoap" name="ServiceANASoap12" />
        </client>
    </system.serviceModel>
</configuration>