<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HidrowebWin.Forms.Properties.Settings.HIDROConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\HIDRO.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceANASoap" maxReceivedMessageSize="67108864"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://telemetriaws1.ana.gov.br/ServiceANA.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceANASoap"
                contract="ServiceANA.ServiceANASoap" name="ServiceANASoap" />
        </client>
    </system.serviceModel>
</configuration>